 /* side bar */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
 }

 body {
     background-color: #f6f7f8;
 }

 .page {
     display: flex;
     position: relative;
 }

 .aside {
     width: 20%;
     background-color: white;
     height: 100vh;
     padding: 20px;
     position: sticky;
     top: 0;
     border-right: 1px solid rgb(237, 237, 237);
 }

 #close {
     display: none;
     font-size: larger;
     color: rgb(191, 191, 191);
 }

 .profile {
     display: flex;
     gap: 15px;
     align-items: center;
     justify-content: flex-start;

 }

 .profile img {
     width: 50px;
     height: 50px;
     border-radius: 50%;
 }


 /* navbar */
 .nav {
     padding: 10px 0px;
     border-bottom: 1px solid #eef1f4;
     margin-bottom: 25px;

 }

 .nav a {

     text-decoration: none;
     border-radius: 5px;
     margin: 15px 10px;
     padding: 12px;
     color: #4a6076;
     display: flex;
     gap: 18px;

 }

 .nav a:hover {
     color: #1081ec;
     background-color: #e7f2fd;
 }

 /* my project */

 .sub-project {
     padding: 10px 0px;
     margin: 0px 20px;
 }

 .project h4 {
     color: #a6b3c4;

 }

 .project p {

     margin: 15px 10px;
     color: #4a6076;
     padding: 10px 0px;
     display: flex;
     align-items: center;
     gap: 18px;

 }

 .dot1,
 .dot2,
 .dot3,
 .dot4 {
     width: 10px;
     height: 10px;
     border-radius: 50%;

 }

 .dot1 {
     background-color: #10b981;
 }

 .dot2 {
     background-color: #a855f7;
     ;
 }

 .dot3 {
     background-color: #f97316;
 }

 .dot4 {
     background-color: #ec4899;
 }

 .newbtn {
     width: calc(100% - 50px);
     background-color: #137fec;
     color: white;
     border: none;
     padding: 10px;
     font-weight: bold;
     border-radius: 5px;
     text-align: center;
     position: absolute;
     bottom: 0px;
     margin: 10px 0px;
     padding: 12px 20px;
     cursor: pointer;


 }

 /* main */

 main {
     width: 100vw;
 }

 /* search bar */

 .searchbar {
     background-color: white;
     width: 100%;
     padding: 10px 30px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid rgb(237, 237, 237);
     position: sticky;
     top: 0;
 }

 .search {
     background-color: #f1f5f9;
     color: #9caabe;
     padding: 15px 20px;
     border-radius: 5px;
     width: 65%;
     display: flex;
     gap: 10px;
 }

 .search input {
     width: 100%;
     border: none;
     background-color: transparent;
     color: #9caabe;
     outline: none;

 }

 .icon {
     display: flex;
     gap: 20px;
     font-size: larger;
     padding: 0px 10px;
 }

 .icon i {
     padding: 0px 10px;
 }

 /* content page */
 .maincontent {
     padding: 25px;
 }

 /* welcome */
 .welcome {
     display: flex;
     justify-content: space-between;
     align-items: center;
     line-height: 1.5;
 }

 .Progressbar {
     display: flex;
     justify-content: space-between;
     gap: 20px;
     color: #96a3b9;
 }

 .pb {
     display: flex;
     align-items: center;
     gap: 10px;
 }

 .Progress {
     display: flex;
     justify-content: space-between;
     width: 200px;
     height: 10px;
     background-color: #e2e8f0;
     border-radius: 10px;
     overflow: hidden;
 }

 .Progress div {
     width: 65%;
     height: 100%;
     background-color: #137fec;
     border-radius: 10px;

 }

 .taskbtn {
     background-color: #0f172a;
     color: white;
     padding: 10px 35px;
     border-radius: 7px;
     cursor: pointer;
 }

 /* today section */

 .todayhead {
     display: flex;
     justify-content: space-between;
     margin: 20px 0px;
 }

 .focus {
     display: flex;
     align-items: center;
     gap: 10px;
 }

 .listbox {
     background-color: white;
     border: 1px solid hsl(0, 0%, 93%);
     box-shadow: 1px 1px 3px #dfe6ef;
     border-radius: 8px;
 }


 .list {
     padding: 20px;
     display: flex;
     align-items: center;
     gap: 20px;
     border-bottom: 1px solid hsl(0, 0%, 93%);
     line-height: 1.;
 }

 .list input {
     width: 17px;
     height: 17px;

 }

 .span {
     display: flex;
     align-items: center;
     gap: 20px;
     margin-top: 3px;
 }

 .time {
     font-size: small;
     display: flex;
     gap: 7px;
 }

 .personal,
 .work {

     font-size: 12px;
     padding: 5px 10px;
     border-radius: 5px;
 }

 .work {
     background-color: #d1fae5;
     color: #00663e;
 }

 .personal {
     background-color: #f3e8ff;
     color: #7700cd;
 }

 /* upcoming */

 .upcoming {
     margin: 20px 0px;
     padding: 20px 0px;
 }

 .uphead {
     display: flex;
     gap: 10px;
     align-items: center;
     padding: 10px 0px;
 }

 .up {
     display: flex;
     gap: 20px;
     margin-top: 10px;
 }

 .tomorrow,
 .week {
     background-color: white;
     width: 50%;
     padding: 20px;
     border-radius: 8px;
     border: 1px solid hsl(0, 0%, 93%);
     box-shadow: 1px 1px 3px #dfe6ef;

 }

 .h4 {
     color: #8f9fb6;
     margin-bottom: 10px;
 }

 .upcontent {
     display: flex;
     margin: 10px 0px;
     padding: 10px 0px;
     gap: 20px;
 }

 .upicon {
     width: 40px;
     height: 40px;
     border-radius: 5px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5px;

 }


 .upnote {
     line-height: 1.4;
 }

 .upnote p {
     color: #8f98a6;
 }


 /* tab view */

 @media screen and (max-width:1020px) {
     .aside {
         display: none;
         position: fixed;
         top: 0;
         left: 0;
         width: 80%;
         height: 100vh;
         z-index: 9999;

     }

     .main {
         width: 100vw;
         margin: 0;
     }

     #close {
         display: block;
         left: 0;
     }

     #sidebar {
         display: inline !important;
     }

     .welcome {
         display: block;
     }

     .Progressbar {
         display: block;
         margin-top: 15px;
     }

     #progress-title {
         text-align: left !important;
     }

     .Progress {
         text-align: left;
     }

     .up {
         display: flex;
         flex-direction: column;

     }

     .tomorrow,
     .week {
         width: 100%;
     }
 }

 @media screen and (max-width:700px) {

     .search {
         display: none;
     }

     .searchbar {
         padding: 15px;
     }


     .Progress {
         width: 100%;
         margin: 10px 0px;
     }

     .todayhead {
         display: block;
         line-height: 2;
     }
 }